@font-face {
  font-family: "omg";
  src: url("omg.ttf");
}
@font-face {
  font-family: "rr";
  src: url("rr.ttf");
}
body {
	background-color: rgb(219,231,231) ;
}
section {
		top: 4vh;
	width: 90vw;
	position: relative;
	text-align: center;
	font-family: "omg";
	font-size: 5vw;
	margin-top: 5vh;
	border: 1vw solid navy;
	border-radius: 1vw;
 box-shadow: 5px 10px #888888;
}
a:link,a:visited {
	text-decoration: none;
	color: orange;
}
a:hover {
color: red;
}

section:hover {
	animation: hov 0.5s linear;
}
@keyframes hov {
	100% {
		top: -1vh;
		box-shadow: 10px 20px #888888;
	}
}
img {
	width: 50vw;
	position: absolute;
	top: -13vh;
	left: 25vw;
}
a:active {
	background-color: tra;
}
#gana {
	position: relative;
	top:0vh;
}
#stic {
	width: 60vw;
position: absolute;
top: 7vh;
left: -2vw;
}
#credits {
  position: relative;
  width: 90%;
  margin: auto;
  bottom: -10vh;
  margin-bottom: 20px;
  font-family: "rr", sans-serif;
  color: #544027;
  font-size: 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  text-align: center;
		z-index: 10000;
}
mark {
	background-color: transparent;
	color: #dc5f45;
	font-size: 15px;
	font-family: "klk",sans-serif;
}

#credits a {
  color: #544027;
}

#credits a:hover {
  color: #dc5f45;
}
#redes {
	display: none;
}
@media only screen and (min-width: 500px) {
	#credits {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 15vh;
  right: -40vw;
  margin-bottom: 20px;
  font-family: "rr", sans-serif;
  color: #544027;
  font-size: 25px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  z-index: 10000;
}
sup {
	color: navy;
}
#gana {
	position: relative;
	top:0vh;
	left: 20vw;
	width: 60vh;
}
#stic {
	width: 50vw;
position: absolute;
top: 7vh;
left: -2vw;
}
#container {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
}
section {
		top: 2vh;
	width: 29vw;
	position: relative;
	text-align: left;
	font-family: "omg";
	font-size: 4vw;
	margin-top: 5vh;
	margin-left: 2vw;
	border: 1vw solid navy;
	border-radius: 1vw;
 box-shadow: 5px 10px #888888;
}
section:hover {
	animation: hov 0.5s linear;
}
@keyframes hov {
	100% {
		top: -2vw;
		box-shadow: 10px 20px #888888;
	}
}
img {
	width: 60vh;
	position: absolute;
	top: -13vh;
	left: 10vw;
}
#redes {
	display: block;
	position: absolute;
	right: -5vw;
	bottom: 0vh;
}
#redes a {
	margin-top: 5vw;
}
#redes img {
	width: 20vw;
}